# dependencies
node_modules/
*/node_modules/

# build outputs
.next/
*/.next/
out/
*/out/
build/
*/build/
dist/
*/dist/
coverage/
*/coverage/

# env files
.env*
!.env.example

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
*/next-env.d.ts
